page-reservas {

  ion-header {
    top: 7%;
  }

  ion-title.text.title.title-md {
    margin-top: -36%;
    margin-left: -10%;
    width: 100%;
  }

  // Navbar Style

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: white;
  }

  .toolbar-title-md {
    color: white;
  }

  .toolbar-title {
   text-overflow: inherit;
   white-space: normal;
  }

  button.back-button.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
    color: white;
  }

  .scroll-content {
    margin-top: 33% !important;
  }

  ion-navbar.toolbar.toolbar-md {
    height: 130px;
    margin-top: -50px;
  }

  .imgPos {
    max-width: 135%;
    margin-left: -30%;
    margin-top: -15%;
  }

  //end NavBar

  ion-content.content.content-md {
    background-color: rgb(233, 230, 232);
  }

  .pedidos {
    background-color: color($colors, primary, base);
    height: 15%;
    color: color($colors, light, base);
    text-align: center;
    margin-top: -5%;
  }

  div p {
    font-size: 2rem;
    padding-top: 7%;
  }

  ion-label.label.label-md {
    margin: 0 8px 0 0!important;
    padding-top: 15px;
  }

  button.item.item-block.item-md {
    border-bottom: 1px solid #8c8c8c;
    background-color: rgb(233, 230, 232);
  }

  .input-wrapper {
    padding-left: 15%;
    font-size: 1.6rem;
  }

  .grey {
    color: grey;
  }

}
