page-chat {

  ion-navbar.toolbar.toolbar-md {

    margin-top: 0%!important;
  }


  .toolbar-title.toolbar-title-md {
    color: white;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #ffffff;
    background-color: transparent;
  }



}
