page-telefonos-de-utilidad {

  // Navbar Style

  ion-header.header.header-md {
    top: 7%;
  }

  button.bar-buttons.bar-buttons-md.bar-button.bar-button-md.bar-button-default.bar-button-default-md.bar-button-menutoggle.bar-button-menutoggle-md {
    color: white;
  }

  ion-title.text.title.title-md {
    margin-top: -36%;
    margin-left: -10%;
    width: 100%;
  }

  .toolbar-title-md {
    color: white;
    padding: 0px;
  }

  button.back-button.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
    color: white;
  }

  .scroll-content {
    margin-top: 36% !important;
  }

  ion-navbar.toolbar.toolbar-md {
    height: 130px;
    margin-top: -50px;
  }

  .imgPos {
    max-width: 135%;
    margin-left: -30%;
    margin-top: -15%;
  }

  //end NavBar

  .select-md .select-icon {
    position: relative;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: #c3c3c3;
    border-radius: 20px;
  }

  .select-md .select-icon .select-icon-inner {
    color: color($colors, primary, base);
    border-top: 9px solid;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    left: 1px;
  }

  ion-item.margin-consorcio.item.item-block.item-md.item-select.input-has-value.item-input-has-value {
    width: 150%;
  }

  .posicion {
    display: flex;
    justify-content: center;
    width: 100%;
    //margin-top: 0%;
  }

  .hidden {
    display: none;
  }

  ion-select {
    max-width: 100%;
  }

  .grey {
    color: grey;
  }

  .padding {
    padding-left: 1px;
    margin-left: 15%;
  }

  .color {
    color: color($colors, primary, base);
  }

  .size {
    font-size: 1.3rem;
  }

  .phone-icon {
    width: 12%;
    margin-bottom: -8%;
    margin-left: 2%;
    padding-right: 2%;
  }

  .input-wrapper {
    padding-left: 0px;
  }

  .boton {
    background-color: #742284 ;
    height: 50px;
    width: 195px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
  }

  .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.item-input-has-focus .item-inner {
    border-bottom-color: #742284;
    box-shadow: inset 0 -1px 0 0 #742284;
  }

  .item-inner {
    padding-top: 5px;
  }

  .button-md:hover:not {
    background-color: #742284;
  }

  .button-md.activated {
    background-color: #742284;
    box-shadow: none;
  }

  button.boton.button.button-md.button-default.button-default-md.button-round.button-round-md {
    margin-left: 24%;
    margin-top: 3%;
  }

  ion-label.label.label-md {
    margin: 0 8px 0 0;
    padding-top: 4px;
  }

}
