page-gimnasio {

  ion-header {
    top: 7%;
  }

  ion-title.text.title.title-md {
    margin-top: -37%;
  }

  // Navbar Style

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: white;
  }

  .toolbar-title-md {
    color: white;
  }

  button.back-button.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
    color: white;
  }

  .scroll-content {
    margin-top: 36% !important;
  }

  ion-navbar.toolbar.toolbar-md {
    height: 130px;
    margin-top: -50px;
  }

  .imgPos {
    max-width: 135%;
    margin-left: -30%;
    margin-top: -15%;
  }

  //end NavBar


  ion-list:first-child {
    margin-top: 32px;
  }
  ion-list + ion-list {
    margin-top: 0;
  }

  ion-item.item.item-block.item-md.item-datetime {
    margin-left: 20%;
}

  .item-md.item-block .item-inner {
    border-bottom: none;
  }

  .calendar {
    font-size:3em;
    color: #232222;
  }

  .item-md .radio-md[item-left], .item-md .radio-md[item-start] {
    margin: 11px 10px 10px 30px;
  }

  .text-input {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
  }

  ion-select.select.select-md {
    width: 30%;
    margin-left: 30%;
  }


}
