page-alerta {
    background-color: rgba(0, 0, 0, 0.5);
    ion-content.content{
        top: 10%;
        left: 10%;

        width: 80%;
        height: 80%;
        // border-radius: 20px;
        .scroll-content {
            border-radius: 20px;
        }
    }

    .scroll-content {
      display: grid;
    }

    // .container-flex {
    //   display: flex;
    // }

    .button[icon-only] {
      width: 15%;
      margin-left: 90%;
      margin-right: -100%;
      background-color: transparent;
      color: black;
      font-size: 150%;
      font-weight: bold;
      box-shadow: none;
    }

    .cross {
      position: absolute;
      // height: 50px;
      // width: 50px;
      left: 50%;
      top: 50%;
      margin-top: -145px;
      margin-left: -60px;
      font-size: 160px;
      // margin-left: 25%;
      color: #c50b0b;
    }

    .center-text {
      position: absolute;
      top: 67%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
    }

    .container {
      display: flex!important;
      justify-content: center;
      align-items: center;
      margin-top: 145px;
    }

    .check {
      position: absolute;
      // height: 50px;
      // width: 50px;
      left: 50%;
      top: 50%;
      margin-top: -145px;
      margin-left: -60px;
      font-size: 160px;
      // font-size: 15rem;
      // margin-left: 25%;
      color: #02C365;
    }
}
